@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Submit screen shot.</h2>

@using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <br />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}